@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src:  url('../fonts/opensans.woff2') format('woff2'),
        url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src:  url('../fonts/opensansbold.woff2') format('woff2'),
        url('../fonts/opensansbold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 100;
  src:  url('../fonts/opensanslight.woff2') format('woff2'),
        url('../fonts/opensanslight.woff') format('woff');
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin : 0;
  padding : 0;

  min-width: $body-min-width;

  font-size : 14px;
  line-height : 1.25;
  font-family : Open Sans, Tahoma, sans-serif;
  color : #283645;

  background-color : #fff;
}
