.index-page {
  &__intro {
    min-height: 733px;
    padding-top: 176px;
    flex-direction: column;
    align-items: flex-start;

    @mixin tablet {
      padding-top: 184px;
      min-height: auto;
      flex-direction: row;
    }
  }
}