.info {
  text-align: center;

  &__container {
    @mixin tablet {
      display: flex;
      justify-content: space-around;
    }
  }

  &__offer {
    padding-top: 43px;
    padding-bottom: 32px;

    @mixin tablet {
      padding-bottom: 69px;
    }

    & > p {
      margin: 0;
      font-size: 24px;
      font-weight: lighter;

      & > br {
        display: none;
      }

      @mixin tablet {
        font-size: 40px;
        text-align: center;

        & > br {
          display: inline;
        }
      }
    }

    & > p:first-child {
      margin-bottom: 34px;

      @mixin tablet {
        margin-bottom: 0;
      }
    }
  }

  &__advantages {
    background-color: #f2f2f2;
    margin-top: 32px;
    padding-top: 49px;
    position: relative;

    @mixin tablet {
      padding-top: 30px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0px;
      display: block;
      height: 100%;
      transform-origin: left top;
      transform: skewY(-5deg);
      background-color: inherit;
      width: 100%;
      z-index: -1;
    }
  }

  &__advantages-list {
    @mixin reset-ul;

    @mixin tablet {
      order: 1;
      text-align: left;
      width: 320px;
    }
  }

  &__advantages-item {
    & > b {
      display: block;
      font-size: 18px;
      line-height: 18px;
    }

    & > p {
      margin-top: 20px;
      margin-bottom: 35px;
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__advantages-img {
    overflow: hidden;

    @mixin tablet {
      overflow: auto;
    }

    & > img {
      position: relative;
      top: 45px;
    }
  }

  &__effect-container {
    display: none;
    padding-top: 100px;
    padding-bottom: 86px;
    padding-left: 310px;
    text-align: left;
    background-image: url(../img/bg-timer.png);
    background-repeat: no-repeat;
    background-position: 20px 60px;

    @mixin tablet {
      display: block;
    }
  }

  &__effect-title {
    font-size: 30px;
    line-height: 36px;
    color: #000;
    margin-bottom: 17px;
    margin-top: 0;
  }

  &__effect-text {
    line-height: 24px;
  }

  &__effect-more-link {
    color: #d22856;
  }
}