.input-check {
  display: none;

  &:checked + .label-check:before {
    content: '';
    background-image: url(../img/icon-form-tick.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
