.input-text {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  padding-top: 17px;
  padding-bottom: 12px;
  border: 2px solid #e5e5e5;
  padding-left: 22px;
  width: 100%;
  outline: none;

  &::-webkit-input-placeholder {
    color: #283645;
  }

  &:hover {
    border-color: #283645;
  }

  &:active,
  &:focus {
    border-color: #d22856;
  }
}