.intro {
  display: flex;
  min-height: 237px;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #1d2631;

  @mixin tablet {
    min-height: 440px;
  }

  &__container {
    padding-top: 462px;

    @mixin tablet {
      display: flex;
      padding-top: 0;
    }
  }

  @mixin tablet {
    background-size: cover;
  }

  &__img {
    position: absolute;
    top: 176px;
    left: 0;
    font-size: 0;

    @mixin tablet {
      position: static;
      order: 1;
      align-self: flex-end;
    }
  }

  &__title {
    color: #fff;
    align-self: center;
    text-align: center;
    margin: 0;
    font-weight: lighter;

    @mixin tablet {
      font-size: 50px;
    }
  }
}