.label-text {
  position: absolute;
  top: -35px;
  left: 23px;
  color: #d22856;
  text-transform: uppercase;
  line-height: 30px;
}

@mixin tablet {
  .label-text {
    position: static;
    margin-right: 19px;
  }
}
