.label-text {
  display: block;
  margin-left: 23px;
  margin-bottom: 7px;
  color: #d22856;
  text-transform: uppercase;
  line-height: 30px;
}

@mixin tablet {
  .label-text {
    margin-right: 19px;
    margin-bottom: 0;
  }
}
