.main-nav {
  &__container {
    padding-top: 22px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper {
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
  }

  &__list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    transform: translateY(-200%);
    @mixin reset-ul;

    @mixin desktop {
      position: static;
      display: flex;
      width: 622px;
      justify-content: space-between;
      transform: translateY(0);
    }
  }

  &__toggler {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 25px;
    padding: 0;
    border: 0;

    @mixin desktop {
      display: none;
    }

    &:hover {
      span,
      span:before,
      span:after {
        background-color: #d22856;
      }
    }

    &:active {
      span,
      span:before,
      span:after {
        background-color: color(#d22856 a(30%));
      }
    }

    span {
      position: absolute;
      top: 50%;
      margin-top: -1px;
      width: 100%;
      height: 4px;
      background-color: #fff;

      &:before,
      &:after {
        content: '';
        display: block;
        height: 4px;
        background-color: #fff;
        position: absolute;
        width: 100%;
      }

      &:before {
        top: -10px;
        box-shadow: 0px 2px 0px -1px #565f67;
      }

      &:after {
        bottom: -10px;
        box-shadow: 0px -2px 0px -1px #565f67;
      }
    }
  }

  &__item > a {
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #485461;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background-color: #283645;

    @mixin desktop {
      background-color: transparent;
      border: none;
      font-size: 18px;
      line-height: 18px;
      text-transform: capitalize;
      font-weight: normal;
    }

    &:hover {
      color: #d22856;
    }

    &:active {
      color: color(#d22856 a(30%));
    }
  }

  &--open .main-nav__wrapper {
    border-bottom: 1px solid #000;
    background-color: #283645;
    opacity: 1;
  }

  &--open .main-nav__toggler {
    width: 25px;

    span {
      background-color: transparent;

      &:before {
        top: 0;
        transform: rotate(45deg);
      }

      &:after {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }

  &--open .main-nav__list {
    transform: translateY(73px);
  }
}