.photos {
  &__promo-text {
    width: 245px;
    margin: 0 auto;
    padding-top: 47px;
    padding-bottom: 47px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;

    @mixin tablet {
      width: 440px;
      font-size: 18px;
      padding-top: 94px;
      padding-bottom: 74px;
    }

    @mixin desktop {
      width: 575px;
      padding-bottom: 86px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
  }

  &__item {
    position: relative;
    margin-bottom: 20px;

    @mixin tablet {
      width: 300px;
    }
  }

  &__item_type_panorama {
    position: relative;
    width: 100%;

    @mixin tablet {
      margin-bottom: 50px;
    }
  }

  &__item_type_panorama &__item-img {
    background-image: url(../img/panorama-mobile@1x.jpg);
    min-height: 140px;
    background-repeat: no-repeat;
    background-size: 100% 140px;

    @mixin tablet {
      min-height: 510px;
      background-size: 100% 510px;
    }

    @mixin desktop {
      min-height: 506px;
      background-size: 100% 506px;
    }
  }

  &__item_type_panorama &__item-img > .container {
    position: relative;
  }

  &__item_type_panorama &__item-description {
    min-height: auto;
  }

  &__item_type_panorama &__item-text {
    @mixin tablet {
      margin-bottom: 0;
    }
  }

  &__item-description {
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 19px;

    @mixin tablet {
      display: flex;
      flex-direction: column;
      position: relative;
      min-height: 155px;
    }
  }

  &__item-img {
    position: relative;
    font-size: 0;
    text-align: center;
  }

  &__item-img > img {
    @mixin tablet {
      width: 100%;
      height: 300px;
    }
  }

  &__item-text {
    margin: 0;
    margin-bottom: 9px;
    line-height: 24px;
  }

  &__item-date {
    font-weight: lighter;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__item-author {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  &__item-likes {
    display: flex;
    align-items: center;
    color: #d22856;
    text-transform: uppercase;
    line-height: 24px;
    font-size: 12px;

    @mixin tablet {
      margin-top: auto;
    }
  }

  &__item_type_panorama &__item-likes {
    @mixin tablet {
      position: absolute;
      right: 30px;
      top: 18px;
    }
  }

  &__item-likes-icon {
    width: 13px;
    height: 12px;
    background-image: url(../img/icon-heart.svg);
    background-repeat: no-repeat;
    margin-right: 19px;

    @mixin tablet {
      order: 1;
      margin-left: auto;
      margin-right: 0;
    }
  }

  &__item-likes-number {
    margin-left: 3px;

    @mixin tablet {
      margin-right: 18px;
    }
  }

  &__item-badge {
    position: absolute;
    top: 0;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    line-height: 24px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    background-color: #d22856;

    @mixin tablet {
      top: 57px;
    }

    @mixin desktop {
      right: 130px;
    }
  }
}