.reviews {
  padding-top: 44px;
  padding-bottom: 70px;

  &__list {
    width: 280px;
    margin: 0 auto;

    @mixin tablet {
      width: auto;
    }
  }

  &__item {
    display: none;
    flex-direction: column;
  }

  &__item-author {
    display: block;
    margin-bottom: 11px;
    text-align: center;
    font-size: 18px;
    color: #000;
    line-height: 30px;
    font-weight: bold;

    @mixin tablet {
      order: 1;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__item-author-info {
    display: none;
    order: 3;
    text-align: center;
    font-size: 14px;
    line-height: 30px;

    @mixin tablet {
      display: block;
    }
  }

  &__item-text {
    margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 30px;

    @mixin tablet {
      order: 0;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 40px;
    }
  }

  &__inner {
    display: flex;
    margin-bottom: 32px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }

  &__pagination-item {
    width: 12px;
    height: 12px;
    margin-right: 13px;
    cursor: pointer;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #bec2c7;

    &:not(&--active):hover {
      background-color: #7e868f;
    }

    &:not(&--active):active {
      background-color: #e9ebec;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__pagination-item--active {
    border-color: #283645;
    background-color: #fff;
  }
}