.social-link {
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-right: 12px;
  border-radius: 50%;
  border:3px solid #e9ebec;
  white-space: nowrap;
  text-indent: 100%;
  background-repeat: no-repeat;
  background-position: center;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: #e9ebec;
    opacity: 0.3;
  }
}

.social-link--twitter {
  background-image: url(../img/icon-twitter.svg);
}

.social-link--facebook {
  background-image: url(../img/icon-facebook.svg);
}

.social-link--youtube {
  background-image: url(../img/icon-youtube.svg);
}
