.upload {
  &__text {
    padding-top: 42px;
    padding-bottom: 42px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;

    @mixin tablet {
      padding-top: 45px;
      padding-bottom: 70px;
      font-size: 18px;
    }

    @mixin desktop {
      padding-bottom: 63px;
    }
  }

  &__tool {
    padding-top: 20px;
    background-color: #f2f2f2;

    @mixin tablet {
      padding-top: 57px;
    }

    @mixin desktop {
      background-color: transparent;
      padding-top: 0;
    }
  }

  &__tool-inner {
    @mixin tablet {
      display: flex;
    }

    @mixin desktop {
      padding-left: 80px;
      padding-top: 58px;
      padding-right: 60px;
      background-color: #f2f2f2;
    }
  }

  &__tool-btn {
    width: 100%;
    cursor: pointer;
    outline: none;
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    text-decoration: none;
    background-color: #f2f2f2;
    border: 3px solid;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    transition: all .25s;

    &:first-child {
      margin-bottom: 12px;

      @mixin tablet {
        margin-bottom: 24px;
      }

      @mixin desktop {
        margin-right: 44px;
      }
    }

    &--post {
      color: #d22856;
      border-color: #d22856;

      &:hover {
        background-color: #d22856;
        color: #fff;
      }

      &:active {
        color: color(#fff a(30%));;
      }
    }

    &--canceled {
      color: #e3e4e4;
      border-color: #e3e4e4;

      &:hover {
        color: #c4c6c8;
        border-color: #b5b9be;
      }

      &:active {
        color: #cdd0d3;
        background-color: #b5b9be;
      }
    }
  }

  &__tool-img {
    font-size: 0;
    text-align: center;
    margin-bottom: 40px;

    @mixin tablet {
      width: 300px;
      margin-right: 45px;
      margin-bottom: 54px;
    }

    @mixin desktop {
      margin-right: 90px;
    }

    & > img {
      width: 100%;
      height: 400px;
    }
  }

  &__tool-controls {
    flex-grow: 1;
  }

  &__tool-settings {
    padding-bottom: 34px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #dddfe0;
      margin-top: 34px;

      @mixin tablet {
        display: none;
      }
    }

    @mixin tablet {
      padding-bottom: 0;
      margin-top: 9px;
    }

    @mixin tablet {
      margin-top: 0;
    }
  }

  &__tool-actions {
    padding-top: 40px;
    padding-bottom: 40px;
    /*background-color: #f2f2f2;*/

    @mixin tablet {
      padding-top: 67px;
    }

    @mixin desktop {
      display: flex;
      align-items: flex-start;
      padding-top: 146px;
      padding-bottom: 0;
    }
  }

  &__tool-instruments {
    display: flex;
    margin-bottom: 27px;
    justify-content: space-around;
    align-items: center;

    @mixin tablet {
      flex-direction: column;
      align-items: stretch;
      margin-bottom: 0;
    }
  }

  &__tool-instrument {
    fill: #b5b9be;

    &:hover {
      fill: #8d949b;
    }

    & > i {
      display: block;
      cursor: pointer;
      width: 48px;
      height: 48px;

      @mixin tablet {
        cursor: initial;
      }
    }

    & > i > svg {
      width: 100%;
      height: 100%;
    }

    @mixin tablet {
      display: flex;
      flex-grow: 1;
      align-items: center;
      padding-bottom: 24px;
      border-bottom: 1px solid #dddfe0;
      margin-bottom: 26px;
      fill: #d22856;

      &:hover {
        fill: #d22856;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @mixin desktop {
      padding-bottom: 13px;
      margin-bottom: 17px;
    }
  }

  &__tool-range {
    display: none;
    position: relative;
    height: 2px;
    margin: 0 20px;
    background-color: #283645;
    align-items: center;
    justify-content: center;

    & > span {
      position: absolute;
      cursor: pointer;
      right: 55px;
      width: 14px;
      height: 14px;
      border: 2px solid #d22856;
      border-radius: 50%;
      background-color: #f2f2f2;

      &:hover,
      &:active {
        background-color: #d22856;
      }

      @mixin tablet {
        margin-top: -7px;
      }
    }

    @mixin tablet {
      display: block;
      flex-grow: 1;
      margin-right: 30px;
      margin-left: 38px;
    }

    @mixin desktop {
      margin-left: 48px;
      margin-right: 30px;
    }
  }

  &__tool-range--global {
    display: flex;

    @mixin tablet {
      display: none;
    }
  }

  &__tool-range--active > span {
    background-color: #d22856;
  }

  &__tool-instrument--resize  .upload__tool-range > span {
    right: 50px;
  }
  &__tool-instrument--resize > i {
    @mixin tablet {
      width: 22px;
      height: 22px;
    }

    @mixin desktop {
      width: 44px;
      height: 44px;
    }
  }

  &__tool-instrument--fill .upload__tool-range > span {
    left: 32px;
  }
  &__tool-instrument--fill > i {
    @mixin tablet {
      width: 24px;
      height: 22px;
    }

    @mixin desktop {
      width: 48px;
      height: 43px;
    }
  }

  &__tool-instrument--contrast {
    @mixin desktop {
      padding-bottom: 20px;
    }
  }
  &__tool-instrument--contrast .upload__tool-range {
    @mixin tablet {
      margin-left: 23px
    }

    @mixin desktop {
      margin-left: 58px;
    }
  }
  &__tool-instrument--contrast .upload__tool-range > span {
    left: 50%;
    transform: translateX(-50%);
  }
  &__tool-instrument--contrast > i {
    @mixin tablet {
      width: 16px;
      height: 16px;
      margin-left: 5px;
    }

    @mixin desktop {
      width: 32px;
      height: 32px;
    }
  }

  &__tool-instrument--active,
  &__tool-instrument--active:hover {
    fill: #d22856;
  }
}
